@font-face {
  font-family: 'avantgarde';
  src: url(fonts/Avgardd.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'avantgardebkbt';
  src: url(fonts/AvantGardeBookBT.ttf);
  font-weight: 200;
  font-style: normal;
}

@media screen and (max-width: 800px) {
  nav, .logo-container {
    width: 100%;
  }
  .header-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .logo-container img {
    margin: 0 auto;
  }
}

* {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

body {
  width: 100%;
  height: 100vh;
}
html {
  width: 100%;
  height: 100%;
}
nav, .logo-container, .header-container {
  display: flex;
}

nav {
  width: 70%;
  justify-content: flex-start;
  align-items: flex-end;

}
nav > a:first-of-type {
margin-left: 0;
}
.navigation {
  margin-left: 60px;
  margin-bottom: 20px;
  font-size: 1.2em;
  cursor: pointer;
  position: relative;
  z-index: 5;
}
.sub-menu {
  position: relative;
}
#social-media {
  font-size: 1.7em;
  padding: 10px 4px 0 10px;
  display: none;
  list-style-type: none;
  cursor: pointer;
  background-color: #f5f5f5;
  border-right: 6.5px solid white;
  border-left: 6.5px solid white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 5;
}
.outer-border {
  display: none;
position: absolute;
  padding: 105px 30px;
  border: 2px solid  #51baac;
  top: -15px;
  left: 65px;
}
#social-media img {
  width: 25px;
  margin-bottom: 12px;
}
#social-media a:last-of-type img {
  width: 33px;
}
#contact {
  position: absolute;
  bottom: 0;
}

.navigation, .main-bg p {
  font-family: 'avantgarde';
  color: #51baac;
  text-transform: capitalize;
}

.main-bg p {
  position: absolute;
  font-size: 1.8em;
  top: 40%;
  left: 45%;
}

.header-container {
  width: 100%;
  padding-bottom: 25%;
}

.logo-container {
  width: 30%;
  justify-content: center;
  margin-left: 11%;
}

.logo-container img {
  width: 200px;
  height: 100%;
}

.background1 , .background2 , .background3 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -2;
}
#page2 {
display: flex;
flex-flow: row wrap;
position: relative;
top: 8%;
width: 100%;
height: 100%;
overflow: hidden;

}
#intro-container {
  display: none;
  position: relative;
  width: calc(30% + 5vw);
  height: 52vw;
  margin-left: auto;
}
#page2 h1 {
  font-family: 'avantgardebkbt';
  font-size: calc(25px + 1vw);
  color: #51baac;
  /*margin-left: 50px;*/
}
#page2 h1 span {
  font-family: 'avantgardebkbt';
  font-size: calc(25px + 1vw);
  color: #51baac;
  text-transform: capitalize;

}
#page2 p {
  font-family: 'avantgardebkbt';
  font-size: calc(17px + 0.4vw);
  color: #51baac;
  line-height: 1.7;
  text-align: justify;
  word-spacing: 0;
  width: 90%;
}
#carousel-container {
  display: none;
  width: calc(30% + 5vw);
  height: 50vw;
  margin-top: 40px;
  margin-right: auto;
  position: relative;
}
#first-carousel img , #second-carousel img {
  width: 99.5%;
  height: 19vw;
  /*height: calc(133px + 9.5vw);*/
  border: 2px solid white;
  margin-left: 1px;
}

#first-carousel{
  border: 5px solid #f4df61;
  width: calc(75% + 5vw);
  height: 20vw;
  /*height: calc(18% + 10vw);*/
  /*width: calc(250px + 25%);*/
  /*height: calc(140px + 10vw);*/
  margin-left: 50px;
}
#second-carousel {
  border: 5px solid #51baac;
  width: calc(75% + 5vw);
  height: 20vw;
  /*height: calc(18% + 10vw);*/
  /*width: calc(250px + 25%);*/
  /*height: calc(140px + 10vw);*/
}
#down {
  position: relative;
  left: calc(69% + 5vw);
}
#down:hover , #up:hover {
  cursor: pointer;
}
footer {
  display: block;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100vh;
}
#main-img {
  width: 100%;
  height: 45vw;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  z-index: -5;
}
#white-logo {
  width: 20%;
  position: absolute;
  bottom: 20px;
  right: 0;
}
