@font-face {
  font-family: 'avantgarde';
  src: url(fonts/Avgardd.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'avantgardebkbt';
  src: url(fonts/AvantGardeBookBT.ttf);
  font-weight: 200;
  font-style: normal;
}

@media screen and (max-width: 800px) {
 .header-container > .logo-container {
    width: 40%;
    justify-content: flex-start;
  }
  #page1 > .header-container {
    width: 100%;
    justify-content: flex-start;
  }
  .background1 , .background2 , .background3 {
    display: none;
  }
  .main-bg > .sm-cover {
    display: inline;
  }
  .navigation {
    display: none;
  }
  #page1 .bars {
    margin: 0;
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 10;
    right:0;
    top: -10%;
    bottom: 0;
    left: 60%;
  }
  #page1 .ham-bars {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  }
  #page1 > #bar-res1 {
    display: block;
  }
  #page1 > #bar-res2 {
    display: block;
  }
  #page1 > #bar-res3 {
    display: block;
  }
  #contact {
    display: none;
  }
  .responsive {
    display: block;
    font-family: 'avantgarde';
    color: #51baac;
    text-transform: capitalize;
    font-size: 1.3em;
    text-align: center;
    /*margin-right: 250px;*/
  }
  #responsive-menu {
    display: none;
    width: 140px;
    position: absolute;
    top: -15px;
    list-style-type: none;
    background-color: #f5f5f5;
    border-right: 4.5px solid white;
    border-left: 4.5px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    text-align: center;
    z-index: 10;

  }
#responsive-menu li {
  position: relative;
  right: 43px;
  width: 140px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  text-align: center;
}
#responsive-menu li:last-child {
  margin-bottom: 10px;
}
.outer-border2 {
  display: none;
  border: 2px solid  #51baac;
  position: relative;
  width: 145px;
  height: 252px;
  top: 40px;
  right: 100px;
}
  nav {
    display: inline-block;
    /*flex-flow: column;
align-self: center;
justify-content: center;*/
  }
  /*.navigation {
    display : block;
  }*/
  body > #page2 {
    flex-flow: column;
  }
  #main-footer {
    display: none;
  }
  footer #sm-footer {
    display: inline-block;
    padding-top: 20%;
  }
footer #white-logo {
    right: 65%;
    left: 35%;
    width: 40%;

  }

}

* {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}

nav, .logo-container, .header-container {
  display: flex;
}

nav {
  width: 70%;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 5%;
  position: relative;
  bottom: -20px;
}
nav > a:first-of-type {
margin-left: 0;
}
 .ham-bars {
  display: none;
  position: absolute;
  border-top: 5px solid #51baac;
  width: 40px;
  top: 70px;
  right: 50px;
}
#responsive-menu {
  display: none;
}
#page1 .ham-bars:nth-child(2) {
  margin-top: 12px;
}
#page1 .ham-bars:nth-child(3) {
  margin-top: 23px;
}
.navigation {
  margin-left: 80px;
  margin-bottom: 20px;
  font-size: 1.3em;
  cursor: pointer;
  position: relative;
  z-index: 5;
}
.sub-menu {
  position: relative;
}
#social-media {
  font-size: 1.7em;
  padding: 10px 4px 0 10px;
  display: none;
  list-style-type: none;
  cursor: pointer;
  background-color: #f5f5f5;
  border-right: 6.5px solid white;
  border-left: 6.5px solid white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 5;
}
.outer-border {
  display: none;
position: absolute;
  padding: 105px 30px;
  border: 2px solid  #51baac;
  top: -15px;
  left: 88px;
}
#social-media img {
  width: 25px;
  margin-bottom: 12px;
}
#social-media a:last-of-type img {
  width: 33px;
}
#contact {
  position: absolute;
  bottom: 0;
}

.navigation, .main-bg p {
  font-family: 'avantgarde';
  color: #51baac;
  text-transform: capitalize;
}

.main-bg p {
  position: absolute;
  font-size: 1.8em;
  top: 40%;
  left: 45%;
}

.header-container {
  width: 100%;
  padding-bottom: 25%;
}

.logo-container {
  width: 30%;
  justify-content: center;
  margin-left: 11%;
  margin-top: 10px;
}

.logo-container img {
  width: calc(120px + 40%);
  height: 100%;
}
#page1 {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 15%;
}
.main-bg {
  /*position: relative;*/
  width: 100%;
  height: 100%;

  /*padding-bottom: 50%;*/
}
.background1 , .background2 {
  position: absolute;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
}
.background3 {
  position: absolute;
  top: 0;
  z-index: -2;
  width: 100%;
  height: auto;
}
.sm-cover {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -2;
}
#page2 {
display: flex;
flex-flow: row wrap;
position: relative;
top: 8%;
width: 100%;
height: auto;
overflow-x: hidden;
}
#intro-container {
  display: none;
  position: relative;
  width: 40%;
  /*width: calc(35% + 5vw);*/
  height: 55vw;
  margin-left: auto;
  margin-right: 20px;
  top: 20px;
  z-index: 5;
  overflow-x: auto;
}
#page2 h1 {
  font-family: 'avantgardebkbt';
  font-size: calc(25px + 1vw);
  color: #51baac;
  /*margin-left: 50px;*/
}
#page2 h1 span {
  font-family: 'avantgardebkbt';
  font-size: calc(25px + 1vw);
  color: #51baac;
  text-transform: capitalize;

}
#page2 p , #page2  b , #extra-parag , #more , #more1 , #extra-parag1 , #more2 , #extra-parag2 , #more3 , #extra-parag3 , #more4 , #extra-parag4 {
  font-family: 'avantgardebkbt';
  font-size: calc(20px + 0.2vw);
  color: #51baac;
  line-height: 1.7;
  text-align: justify;
  word-spacing: 0;
  width: 95%;
}
#extra-parag , #more1 , #more2 , #more3 , #more4 {
  display: none;
}
#less {
  display: none;
}
#carousel-container {
  display: none;
  width: 35%;
  /*width: calc(30% + 5vw);*/
  height: 55vw;
  margin-top: 40px;
  margin-left: 25px;
  margin-right: auto;
  position: relative;
  z-index: 10;
}
#first-carousel img , #second-carousel img {
  width: 99.8%;
  height: 22vw;
  /*height: calc(133px + 9.5vw);*/
  border: 2.5px solid white;
  /*margin-left: 1px;*/
  /*margin-top: 0.08vw;*/
}

#first-carousel{
  border: 6px solid #f4df61;
  width: 100%;
  /*width: calc(80% + 5vw);*/
  height: 23vw;
  margin-left: 50px;
}
#second-carousel {
  border: 6px solid #51baac;
  width: 100%;
  /*width: calc(80% + 5vw);*/
  height: 23vw;
  /*height: calc(18% + 10vw);*/
  /*width: calc(250px + 25%);*/
  /*height: calc(140px + 10vw);*/
}
#down {
  position: absolute;
  /*top: 42%;
  margin-left: 36.2vw;*/
  right: -50px;
  bottom: 53%;
}
#down:hover , #up:hover {
  cursor: pointer;
}
footer {
  display: block;
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  padding-top: 50%;
  z-index: -5;
}
#main-footer {
  width: 100%;
  height: 50vw;
  position: absolute;
  bottom: 0;
  z-index: -5;
}
#white-logo {
  width: 20%;
  position: absolute;
  bottom: 5vw;
  right: 5vw;
}
#sm-footer {
  display: none;
  position: absolute;
  bottom: 0;
  z-index: -5;
}
